# Import relevant libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk
import nltk
import string
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\MAINAK\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [26]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\MAINAK\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [27]:
df1 = pd.read_csv('feature_set.csv')

In [29]:
df1.drop('Unnamed: 0',axis=1,inplace=True)

In [30]:
df1.head()

,transformed_posts,num_words,num_sentences,http_per_comment,words_per_comment,emoticons_per_comment,ttr,nrc_emotion,nrc_vad
0,http enfp intj moment http sportscent top ten ...,790,44,0.48,12.10,0,0.090250,9.375,0
1,find lack post alarm sex bore posit often exam...,1466,107,0.20,24.38,0,0.089432,17.750,1
2,one http cours say know bless curs absolut pos...,1067,60,0.10,17.70,0,0.103735,17.125,1
3,intp enjoy convers day esoter gab natur univer...,1350,99,0.04,22.26,0,0.096549,9.625,0
4,fire anoth silli misconcept approach logic go ...,1211,93,0.12,20.32,0,0.092466,20.125,0

In [31]:
df2 = pd.read_csv('label_set.csv')

In [32]:
df2.head()

   Unnamed: 0  I-E  N-S  T-F  J-P
0           0    0    0    1    0
1           1    1    0    0    1
2           2    0    0    0    1
3           3    0    0    0    0
4           4    1    0    0    0

In [33]:
df2.drop('Unnamed: 0',axis=1,inplace=True)

In [34]:
df2.head()

   I-E  N-S  T-F  J-P
0    0    0    1    0
1    1    0    0    1
2    0    0    0    1
3    0    0    0    0
4    1    0    0    0

In [35]:
tfidf = TfidfVectorizer(max_features=3000)
vectorised_posts = tfidf.fit_transform(df['transformed_posts']).toarray()

In [36]:
vectorised_posts

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.04254685, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.03128643, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])